*{
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding-top: 3rem;
  align-items: center;
}
.search-bar{
  border: 2px solid black;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
  margin-bottom: 40px;
}
.search-area{
    padding: 10px 20px;
    border-radius: 12px;
    border: none;
    font-size: 2rem;
}
.search-area:focus{
  outline: none;
}
.card{
  min-height: 100px;
  width: 300px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition-duration: 0.3s;
}
.images{
  display: flex;
}
.cards{
  width: 90%;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.card:hover{
  scale: 1.05;
}
.c{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
p{
  text-align: center;
  padding-bottom: 5px;
}
.stats{
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}
.stat{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #000 #0000;
  animation: l1 1s infinite;
}
@keyframes l1 {to{transform: rotate(.5turn)}}